/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background: #d6e2e9;
    font-family: 'Roboto', sans-serif;
    color: #4d616f;
}

.hero {
    background: linear-gradient(to right, #fad2e1, #c5dedd, #99c1de);
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.05);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 64px;
    color: #f0efeb;
}

.card {
    border: none;
    border-radius: 5px;
    background: #f0efeb;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
    font-weight: 300;
}

.card-header {
    background: linear-gradient(to top right, #fde2e4, #dbe7e4, #d6e2e9);
    border-radius: 5px 5px 0 0;
    font-weight: 400;
}

h4 {
    font-style: italic;
}

a {
    color: #99c1de;
}

a:hover {
    color: #fad2e1;
    text-decoration: none;
    transition: all 1s ease;
}